{% extends "base.html" %}
{% block content %}
<h2>Login Page</h2>
<form method="post">
    <label>Email</label>
    <input type="email" name="email" required>

    <label>Password</label>
    <input type="password" name="password">

    <label>Select Role</label>
    <select name="role" required>
        <option value="student">Student</option>
        <option value="employer">Employer</option>
        <option value="faculty">Faculty</option>
    </select>

    <button type="submit" class="btn btn-primary">Sign In</button>
</form>
{% endblock %}
